.lista-evento{
    max-width: 800px;
    margin: 20px auto 0;
    padding: 0 20px;

}
.lista-evento  iframe{
    width:400;
    height:400;
    border:0;
   
     
      
}
.lista-evento article{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px ;
    margin-bottom: 20px;
}

.lista-evento article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.lista-evento article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #6E3667;
    background: none;
    margin-top: 10px;
    color: #6E3667;
    font-weight: bold;
    font-size: 16px;
    text-decoration:none ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    
}
.lista-evento article a:hover{
   background:  #6E3667;
   color: #fff;
    
}
.lista-evento .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.lista-evento.actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size:16px;
    font-weight: bold;
    cursor: pointer;
    
}

.lista-evento.actions button[disabled]{
    opacity: 0.5 ;
    cursor: default;
}

.lista-evento .actions button[disabled]:hover{
    opacity: 0.5 ;
   
}

